<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Book App</title>
        <link rel="stylesheet" href="../../../style/base.css" type="text/css">
        <link rel="stylesheet" href="../../../style/layout.css" type="text/css">
      </head>


<body>

    <header>
        <h1> Books Details</h1>
        <a href="/searches/new">
          <h6>Search for book</h6>
        </a>
        <a href="/">
          <h6>Home</h6>
        </a>
      </header>


    <main>

        <%- include('./detail') %>

    </main>

    <footer></footer>
    </body>
    </html>