<section class="container">

      <div class="searchDiv">
        <% book.forEach( (book)=> { %>
          <div class="imgDiv">
            <img class="bookImg" src="<%= book.image %>" />
            <h2 class="bookTitle">
              <%= book.title %>
            </h2>
            <h3 class="bookAuthor">
              <%= book.author %>
            </h3>
            <p class="bookDescription">
              <%= book.description %>
            </p>
          </div>
          <% }); %>
      </div>

  </section>